
   <h1><%= @train.name() %></h1>

   <h3>Select all Cites serviced by this Train Route:</h3>

   <% if @cities.any?() %>
     <form action="/trains/<%= @train.id %>" method="post">
       <input type="hidden" name="_method" value="patch">
       <% @cities.each() do |city| %>
         <div class="checkbox">
           <label>
             <input type="checkbox" name="city_ids[]" value="<%= city.id() %>"><%= city.name() %>
           </label>
         </div>
       <% end %>

       <button type="submit">Add Cities</button>
     </form>
   <% end %>


   <% if @train.cities().any?() %>

     <h3>Here are all the Cities serviced by this Train route:</h3>

     <ul>
       <% @train.cities().each() do |city| %>
         <li><%= city.name() %></li>
       <% end %>
     </ul>
   <% else %>
     <p>There are no cities yet!</p>
   <% end %>

   <a href="/">Return to Main Page</a>
